<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SyncFirst</title>
    <link rel='icon' href='/static/butterfly_logo.jpg' type='image/x-icon'/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <img alt="logo" src="/static/butterfly_logo.jpg" id="logoImg"/>
    <a class="navbar-brand" href="#">SyncFirst</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">הזן מקרה חדש</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">חפש מקרים עבור תז</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/at_risk">עלולים להימצא בסיכון</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/a_threat">עלולים להוות סיכון</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/monitored">תחת מעקב</a>
        </li>
    </ul>
</nav>

<div id="content" dir="rtl" class="container-fluid">
    {% block content %}{% endblock %}
</div>
</body>
</html>