{% extends "base.html" %}
{% block content %}
<script src="/static/search.js"></script>
<h1>חפש/י על פי תעודת זהות:</h1>
<div class="container align-items-center" style="margin-top: 25px">
    <form action="" class="form-inline justify-content-center">
        <input class="form-control mb-2 mr-sm-2" type="text" id="person-id" minlength="9" maxlength="9"
               placeholder="הכנס/י ת.ז." pattern="[0-9]{9}" required name="id">
        <button class="btn btn-primary mb-2 mr-sm-2" type="submit" id="submit-btn">חיפוש</button>
    </form>
</div>
<div id="incidents" class="card-columns"></div>
{% endblock %}